<a href="https://colab.research.google.com/github/Seitenshi/Board-Exam-Data-Analytics/blob/main/Logistic_Regression_April_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import scipy.stats.contingency

In [ ]:
url = 'https://raw.githubusercontent.com/Seitenshi/Board-Exam-Data-Analytics/main/BOARD_EXAM_DATA%20-%20APRIL%202023.csv'
my_df = pd.read_csv(url)

In [ ]:
my_df

,Subj01,Subj02,Subj03,Gen. Average,Remarks,YRGRAD,TE,REGION/PROVINCE/CITY,SEX,# OF TAKES CORREL 1,# OF TAKES CORREL 2,# OF TAKES CORREL 3,GRADE IN CORREL 1,GRADE IN CORREL 2,GRADE IN CORREL 3
0,63,83,74,72.85,PASSED,422,2,1.0,1.0,NaN,NaN,2.0,NaN,NaN,1.0
1,67,78,68,70.65,PASSED,1221,2,0.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
2,71,78,72,73.45,PASSED,122,2,0.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0
3,75,75,67,72.20,PASSED,722,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,70,70,70,70.00,PASSED,722,1,0.0,0.0,NaN,1.0,1.0,NaN,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,72,28,42,48.30,FAILED,722,1,1.0,1.0,3.0,2.0,1.0,1.0,1.0,1.0
182,70,70,70,70.00,PASSED,520,2,1.0,0.0,1.0,NaN,1.0,1.0,NaN,1.5
183,71,74,72,72.25,PASSED,1221,2,0.0,0.0,4.0,1.0,3.0,1.5,1.5,1.0
184,56,74,62,63.50,FAILED,1222,1,1.0,0.0,1.0,1.0,1.0,1.5,2.0,1.0
185,73,62,54,63.05,FAILED,1221,2,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [ ]:
#change the last column from string to int
my_df['Remarks'] = my_df['Remarks'].replace('FAILED',0)
my_df['Remarks'] = my_df['Remarks'].replace('PASSED',1)

# Drop rows with null values
my_df = my_df.dropna()

my_df

,Subj01,Subj02,Subj03,Gen. Average,Remarks,YRGRAD,TE,REGION/PROVINCE/CITY,SEX,# OF TAKES CORREL 1,# OF TAKES CORREL 2,# OF TAKES CORREL 3,GRADE IN CORREL 1,GRADE IN CORREL 2,GRADE IN CORREL 3
1,67,78,68,70.65,1,1221,2,0.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
2,71,78,72,73.45,1,122,2,0.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0
3,75,75,67,72.20,1,722,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,75,62,51,62.70,0,722,1,1.0,1.0,3.0,2.0,3.0,1.0,1.0,1.5
6,74,77,50,66.50,0,722,1,0.0,1.0,1.0,1.0,3.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,74,72,72,72.70,1,722,1,0.0,1.0,1.0,2.0,1.0,1.0,1.0,1.5
181,72,28,42,48.30,0,722,1,1.0,1.0,3.0,2.0,1.0,1.0,1.0,1.0
183,71,74,72,72.25,1,1221,2,0.0,0.0,4.0,1.0,3.0,1.5,1.5,1.0
184,56,74,62,63.50,0,1222,1,1.0,0.0,1.0,1.0,1.0,1.5,2.0,1.0
185,73,62,54,63.05,0,1221,2,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [ ]:
#Remarks - # of takes correl 1
table = pd.crosstab(my_df["Remarks"],my_df["# OF TAKES CORREL 1"])

#X - # OF TAKES CORREL 1
#y - Remarks

In [ ]:
result_table = scipy.stats.contingency.chi2_contingency(table)

In [ ]:
print('statistics: ', result_table[0])
print('p value: ', result_table[1])
print('degrees of freedom: ', result_table[2])

statistics:  8.469731169321337
p value:  0.07581004942537134
degrees of freedom:  4

In [ ]:
#Remarks - # of takes correl 2
table1 = pd.crosstab(my_df["Remarks"],my_df["# OF TAKES CORREL 2"])

#X - # OF TAKES CORREL 2
#y - Remarks

In [ ]:
result_table1 = scipy.stats.contingency.chi2_contingency(table1)

In [ ]:
print('statistics: ', result_table1[0])
print('p value: ', result_table1[1])
print('degrees of freedom: ', result_table1[2])

statistics:  1.8648954188348128
p value:  0.600915791063698
degrees of freedom:  3

In [ ]:
#Remarks - # of takes correl 3
table2 = pd.crosstab(my_df["Remarks"],my_df["# OF TAKES CORREL 3"])

#X - # OF TAKES CORREL 3
#y - Remarks

In [ ]:
result_table2 = scipy.stats.contingency.chi2_contingency(table2)

In [ ]:
print('statistics: ', result_table2[0])
print('p value: ', result_table2[1])
print('degrees of freedom: ', result_table2[2])

statistics:  6.362895564031929
p value:  0.1736366752489669
degrees of freedom:  4

In [ ]:
#Remarks - GRADE IN CORREL 1
table3 = pd.crosstab(my_df["Remarks"],my_df["GRADE IN CORREL 1"])

#X - GRADE IN CORREL 1
#y - Remarks

In [ ]:
result_table3 = scipy.stats.contingency.chi2_contingency(table3)

In [ ]:
print('statistics: ', result_table3[0])
print('p value: ', result_table3[1])
print('degrees of freedom: ', result_table3[2])

statistics:  3.998067161514131
p value:  0.5496942671376362
degrees of freedom:  5

In [ ]:
#Remarks - GRADE IN CORREL 2
table4 = pd.crosstab(my_df["Remarks"],my_df["GRADE IN CORREL 2"])

#X - GRADE IN CORREL 2
#y - Remarks

In [ ]:
result_table4 = scipy.stats.contingency.chi2_contingency(table4)

In [ ]:
print('statistics: ', result_table4[0])
print('p value: ', result_table4[1])
print('degrees of freedom: ', result_table4[2])

statistics:  6.840526637341153
p value:  0.2327732831304809
degrees of freedom:  5

In [ ]:
#Remarks - GRADE IN CORREL 3
table5 = pd.crosstab(my_df["Remarks"],my_df["GRADE IN CORREL 3"])

#X - GRADE IN CORREL 3
#y - Remarks

In [ ]:
result_table5 = scipy.stats.contingency.chi2_contingency(table5)

In [ ]:
print('statistics: ', result_table5[0])
print('p value: ', result_table5[1])
print('degrees of freedom: ', result_table5[2])

statistics:  3.0891689543518823
p value:  0.5430156648419093
degrees of freedom:  4