<a href="https://colab.research.google.com/github/Seitenshi/Board-Exam-Data-Analytics/blob/main/Logistic_Regression_November_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import scipy.stats.contingency

In [ ]:
url = 'https://raw.githubusercontent.com/Seitenshi/Board-Exam-Data-Analytics/main/BOARD_EXAM_DATA%20-%20NOVEMBER%202023.csv'
my_df = pd.read_csv(url)

In [ ]:
my_df

,Subj01,Subj02,Subj03,Gen. Average,Remarks,YRGRAD,TE,REGION/PROVINCE/CITY,SEX,# OF TAKES CORREL 1,# OF TAKES CORREL 2,# OF TAKES CORREL 3,GRADE IN CORREL 1,GRADE IN CORREL 2,GRADE IN CORREL 3
0,74.000,87.00,70.000,76.500,PASSED,722.0,1.0,0.0,1.0,1.0,2.0,1.0,1.0,1.0,3.0
1,60.000,42.00,44.000,49.000,FAILED,323.0,1.0,0.0,1.0,1.0,1.0,1.0,2.5,1.0,1.0
2,66.000,89.00,79.000,77.450,PASSED,323.0,1.0,0.0,1.0,1.0,1.0,2.0,2.5,2.5,1.0
3,77.000,86.00,75.000,79.000,PASSED,923.0,1.0,1.0,0.0,1.0,2.0,2.0,1.0,1.0,1.0
4,74.000,82.00,67.000,73.950,PASSED,722.0,2.0,0.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,72.000,39.00,54.000,55.800,FAILED,520.0,2.0,0.0,1.0,2.0,2.0,NaN,0.5,2.0,NaN
211,72.000,89.00,71.000,76.750,PASSED,722.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,1.5
212,76.000,88.00,82.000,81.700,PASSED,1222.0,1.0,NaN,NaN,1.0,1.0,1.0,2.0,1.5,1.0
213,68.220,75.11,63.070,68.530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,9.936,16.25,14.644,12.119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#change the last column from string to int
my_df['Remarks'] = my_df['Remarks'].replace('FAILED',0)
my_df['Remarks'] = my_df['Remarks'].replace('PASSED',1)

# Drop rows with null values
my_df = my_df.dropna()

my_df

,Subj01,Subj02,Subj03,Gen. Average,Remarks,YRGRAD,TE,REGION/PROVINCE/CITY,SEX,# OF TAKES CORREL 1,# OF TAKES CORREL 2,# OF TAKES CORREL 3,GRADE IN CORREL 1,GRADE IN CORREL 2,GRADE IN CORREL 3
0,74.0,87.0,70.0,76.50,1.0,722.0,1.0,0.0,1.0,1.0,2.0,1.0,1.0,1.0,3.0
1,60.0,42.0,44.0,49.00,0.0,323.0,1.0,0.0,1.0,1.0,1.0,1.0,2.5,1.0,1.0
2,66.0,89.0,79.0,77.45,1.0,323.0,1.0,0.0,1.0,1.0,1.0,2.0,2.5,2.5,1.0
3,77.0,86.0,75.0,79.00,1.0,923.0,1.0,1.0,0.0,1.0,2.0,2.0,1.0,1.0,1.0
4,74.0,82.0,67.0,73.95,1.0,722.0,2.0,0.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,74.0,86.0,76.0,78.30,1.0,923.0,1.0,0.0,0.0,1.0,3.0,1.0,1.5,1.0,1.0
206,77.0,89.0,45.0,79.90,1.0,1222.0,1.0,0.0,1.0,1.0,1.0,1.0,3.5,2.5,1.0
207,75.0,83.0,65.0,73.90,1.0,323.0,1.0,0.0,0.0,1.0,2.0,2.0,2.5,3.0,1.0
208,62.0,84.0,71.0,71.75,1.0,1222.0,2.0,1.0,0.0,1.0,1.0,1.0,1.5,2.0,1.0
209,75.0,84.0,74.0,77.35,1.0,722.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0

In [ ]:
#Remarks - # of takes correl 1
table = pd.crosstab(my_df["Remarks"],my_df["# OF TAKES CORREL 1"])

#X - # OF TAKES CORREL 1
#y - Remarks

In [ ]:
result_table = scipy.stats.contingency.chi2_contingency(table)

In [ ]:
print('statistics: ', result_table[0])
print('p value: ', result_table[1])
print('degrees of freedom: ', result_table[2])

statistics:  9.828371411365193
p value:  0.0802469179017763
degrees of freedom:  5

In [ ]:
#Remarks - # of takes correl 2
table1 = pd.crosstab(my_df["Remarks"],my_df["# OF TAKES CORREL 2"])

#X - # OF TAKES CORREL 2
#y - Remarks

In [ ]:
result_table1 = scipy.stats.contingency.chi2_contingency(table1)

In [ ]:
print('statistics: ', result_table1[0])
print('p value: ', result_table1[1])
print('degrees of freedom: ', result_table1[2])

statistics:  5.330566195450602
p value:  0.5021667984385878
degrees of freedom:  6

In [ ]:
#Remarks - # of takes correl 3
table2 = pd.crosstab(my_df["Remarks"],my_df["# OF TAKES CORREL 3"])

#X - # OF TAKES CORREL 3
#y - Remarks

In [ ]:
result_table2 = scipy.stats.contingency.chi2_contingency(table2)

In [ ]:
print('statistics: ', result_table2[0])
print('p value: ', result_table2[1])
print('degrees of freedom: ', result_table2[2])

statistics:  16.67421517202006
p value:  0.0022359008616705933
degrees of freedom:  4

In [ ]:
#Remarks - GRADE IN CORREL 1
table3 = pd.crosstab(my_df["Remarks"],my_df["GRADE IN CORREL 1"])

#X - GRADE IN CORREL 1
#y - Remarks

In [ ]:
result_table3 = scipy.stats.contingency.chi2_contingency(table3)

In [ ]:
print('statistics: ', result_table3[0])
print('p value: ', result_table3[1])
print('degrees of freedom: ', result_table3[2])

statistics:  23.76481988048335
p value:  0.0012530006379252356
degrees of freedom:  7

In [ ]:
#Remarks - GRADE IN CORREL 2
table4 = pd.crosstab(my_df["Remarks"],my_df["GRADE IN CORREL 2"])

#X - GRADE IN CORREL 2
#y - Remarks

In [ ]:
result_table4 = scipy.stats.contingency.chi2_contingency(table4)

In [ ]:
print('statistics: ', result_table4[0])
print('p value: ', result_table4[1])
print('degrees of freedom: ', result_table4[2])

statistics:  22.322248335252926
p value:  0.001058350391863608
degrees of freedom:  6

In [ ]:
#Remarks - GRADE IN CORREL 3
table5 = pd.crosstab(my_df["Remarks"],my_df["GRADE IN CORREL 3"])

#X - GRADE IN CORREL 3
#y - Remarks

In [ ]:
result_table5 = scipy.stats.contingency.chi2_contingency(table5)

In [ ]:
print('statistics: ', result_table5[0])
print('p value: ', result_table5[1])
print('degrees of freedom: ', result_table5[2])

statistics:  13.599614733305678
p value:  0.018363058535633917
degrees of freedom:  5